<style type="text/css">
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #042040;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 36px;
        line-height: 44px;
    }

    h3 {
        font-size: 28px;
        line-height: 36px;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
    }

    h5 {
        font-size: 18px;
        line-height: 26px;
    }

    h6 {
        font-size: 16px;
        line-height: 24px;
    }

    p {
        line-height: 22px;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .btn {
        display: block;
        width: fit-content;
        padding: 15px 78px;
        border-radius: 12px;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }

    .otp_box {
        display: block;
        width: fit-content;
        padding: 13px 55px;
        border-radius: 12px;
        text-decoration: none;
        color: #3F8CFE;
        font-size: 40px;
        font-weight: 700;
        line-height: 33px;
        border: 2px dashed #3F8CFE;
        letter-spacing: 8px;
    }

    .btn.btn-primary {
        background-color: #3F8CFE;
        color: #fff;
    }

    .btn.btn-success {
        background-color: #18D39F;
        border-color: #18D39F;
        color: #fff;
    }

    .text-center {
        text-align: center;
    }

    @media only screen and (max-width: 480px) {
        h2 {
            font-size: 28px;
            line-height: 36px;
        }

        h4 {
            font-size: 18px;
            line-height: 26px;
        }

        h5 {
            font-size: 16px;
            line-height: 22px;
        }
    }

</style>
