<style type="text/css">
    .et-body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #ffffff;
        font-family: 'Manrope', sans-serif;
        color: #042040;
        font-size: 14px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        width: 100%;
    }

    .et-wrapper {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
        background: #F2F3F7;
        border-radius: 12px;

    }

    .et-wrapper-inner {
        padding: 35px;
        width: 100%;
    }

    .et-table-main {
        width: 100%;
        background-color: #fff;
        padding: 30px 40px 35px;
        border-radius: 15px;
    }

    .et-table-footer {
        width: 100%;
    }

    .et-table-top-section {
        margin-bottom: 14px;
    }

    .et-table-footer-section {
        margin-top: 40px;
        margin-bottom: 0;
        width: 100%;
    }

    .et-table-main table {
        width: 100%;
    }

    .et-table-main-body hr {
        border: 1px solid #efefef;
    }

    .et-table-main-body a {
        text-decoration: none;
        font-weight: 500;
        color: #3F8CFE;
    }

    @media screen and (max-width: 480px) {
        .et-wrapper-inner {
            padding-top: 30px;
        }

        .et-table-footer-section {
            margin: 30px 0;
        }

        .btn {
            padding: 12px 40px;
            font-size: 18px;
        }
    }
</style>
