{% extends "account/email/base.html" %}
{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" class="et-table-main-body">
        <tr>
            <td>
                <h2 style="margin-bottom: 10px; font-weight: 500; font-size: 30px; line-height: 41px; text-align: center; ">
                    Reset Password</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom: 40px; text-align: center; font-weight: 400; font-size: 15px; line-height: 22px;">
                   Seems like you forgot your password. If this true, please click the button to reset your password.</p>
                <a style="margin: auto;" class="btn btn-primary" href="{{ url }}">Reset Password</a>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-top: 20px; margin-bottom: 20px; padding-bottom: 40px; border-bottom: 1px solid #E8EDF3; text-align: center;">
                   If you want to reset your password please click the button otherwise reset password url will expire.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom: 40px; font-size: 14px; line-height: 19px;">
                    If you’re having trouble clicking “Verify Now” button, copy and paste the URL below into your web
                    browser: <a
                        href="{{ url }}">{{ url }}</a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="margin-bottom: 0; font-size: 12px; line-height: 16px;">
                    Kind Regards,
                </p>
                <p>Support Team</p>
            </td>
        </tr>
    </table>
{% endblock %}

